
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #5CD895;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
    Font
*/
/*Custom Font*/
@font-face{/*Rodina font*/
    font-family: Rodina;
    src: url(font/Rodina/Rodina-Regular.otf);
}

@font-face{/*Raleway font*/
    font-family: Raleway;
    src: url(font/Raleway/Raleway-Light.ttf);
}

/*
    Scroll settings
*/
/*Carter for google user*/
body::-webkit-scrollbar{
    display: none;
}

/*
    Font Settings
*/
.displayItem h1,p{
    font-family: Raleway;
    padding: 0;
    margin: 0;
}

/*
    Navigation
*/
#bugerButton{
    margin-top: 15vh;  
    height: 10vh;
    width: 6vw;
    margin-left: 90vw;
    position: fixed;
    display: block;
    cursor: pointer;
    z-index: 1;
    border-radius: 5%;
    transition:all 0.25s;    
    background-color: #5CD895;
    border: #EDF5E1 2px solid;
    z-index: 11;
}

#bugerButton:hover {
    background-color: #05386B;
    transform: scale(1.1);
}

#focusCover{
    height: 110vh;
    width: 80vw;
    padding: 0;
    margin-right: 20vw;
    margin-top: 0vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: block; /*CHANGE DISPLAY TO BLOCK WHEN OPENING MENU*/
    z-index: 10;
}

#rNavBar{
    height: 110vh;
    margin-top: 0vh;
    width: 30vw;
    margin-left: 70vw;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    background-color: #05386B;
    justify-content: center;
    z-index: 10;
}

#navItem1{
    transition: all 0.25s ease;
    background-color: #05386B;
}

#navItem1:hover{
    transition: all 0.25s ease;
    background-color: #5CD895;
}

#navItem2{
    transition: all 0.25s ease;
    background-color: #05386B;
}

#navItem2:hover{
    transition: all 0.25s ease;
    background-color: #5CD895;
}

#navItem3{
    transition: all 0.25s ease;
    background-color: #05386B;
}

#navItem3:hover{
    transition: all 0.25s ease;
    background-color: #5CD895;
}

/*Hypertext properties*/
#rNavBar a{
    color: black;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#rNavBar a:link{
    color: black;
    text-decoration: none;
}

#rNavBar a:focus{
    color: black;
    text-decoration: none;
}

#rNavBar a:visited{
    color: black;
    text-decoration: none;
}
/*Navigation bar items*/
.navItem{
    text-align: center;
    width: 100%;
    height: 34%;
    background-color: rgba(0, 0, 0, 0);
    border: #EDF5E1 1px solid;
    cursor: pointer;
}

.navText{
    margin-top: 25%;
}

.navItem p{
    color: #EDF5E1;
}

/*
    Html(Main Structure)
*/
#htmlHeader{
        width: 100vw;
        height: 150vh;
        display: block;
        position: static;
        background-image: -moz-linear-gradient(180deg, rgba(5,56,107,1), rgba(5,56,107,0.9),rgba(5,56,107,0.80),rgba(5,56,107,0));
        background-image: linear-gradient(180deg, rgba(5,56,107,1), rgba(5,56,107,0.9),rgba(5,56,107,0.80),rgba(5,56,107,0));
        margin-top: -25vh;
}

#htmlHeaderText{
    transform: translateY(50vh);
    font-family: Rodina;
    text-align: center;
    font-size: 800%;
    display: block;
    word-wrap: break-word;
    z-index: 0;
}
/*Html Footer*/

#htmlFooter{
    width: 100vw;
    height: 50vh;
    background-color: #05386B;
    display: flex;
    flex-flow: row nowrap;
}

#htmlFooterCopyright{
    height: 100%;
    width: 80%;
    background-color: inherit;
    order: 1;
    background-color: #05386B;
}

#htmlFooterMedia{
    height: 100%;
    width: 20%;
    background-color: inherit;
    order: 2;
    display: flex;
    flex-flow: column wrap;
}

/*htmlFoterMedia Children*/
.socialMedia{
    background-image: url();
    display: block;
    height: 30%;
    width: 100%;
    margin-top: 2.5%;
    background-color: #05386B;
    transition: all 0.25s ease;
    cursor: pointer;
}

.socialMedia:hover{
    transform: scale(0.9);
    transition: all 0.25s ease;
}

/*
    Content Items
*/
#contentWrapper{
    height: 100vh;
    width: 80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-flow: column wrap;
}

.contentItem{
    height: 80%; /*change every cotent element here*/
    width: 100%;
    padding: 0;
    border: 1px #EDF5E1 solid;
    background-color: #05386B;
    display: flex;
    flex-flow: row nowrap;
}

/*
#titleTextHeader,#titleTextBody,#titleTextFooter{
    cursor: pointer;
}
*/
#titleTextHeader{
    border-bottom: #EDF5E1 2px solid;
}

/*
    Display Items
*/
.displayItem{
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.displayItem:nth-child(1){
    width: 100%;
    height: 100%;
}


/*Display Items Child*/
.displayItem>.text{     
    width: 100%;
    margin: 0;    
    text-align: left;
}

.displayItem>.text:nth-child(1){     
    height: 30%;
}

.displayItem>.text:nth-child(2){     
    height: 70%;
    background-color: #5CD895;
}

/*
    Content Image
*/
.text>div{
    display: flex;
    flex-flow: column wrap;
}

.imageRow{
    width: 100%;
    height: 100%;
    display: row nowrap;
    background-color: #05386B;
    display: column wrap;
}

.image{
    height: 80%;
    width: 30%;
    margin-left: 2%;
    margin-top: 2.5%;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.25s ease;
}

.image:hover {
    transform: scale(1.1);
    border: black 2px solid;
}

/*
    Gallery Focus
*/
#galleryFocus{
    display: none;
    margin-top: 12.5vh;
    height: 110vh;
    width: 100vw;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
}

#imageFocus{
    display: inherit;
    position: fixed;
    height: 60%;
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-top: 15%;
    background-color: #EDF5E1;
}


/*
    Contet Image settings
*/
/*
.imageRow>div{
    background-image: url("imgFolder/idola.jpg");
}/*

/*
    Cotet container
*/
#contentContainer{
    height: 100%;
    width: 100%;
}   

#contentContainer{
    text-align: center;
    border-collapse: collapse;  
}

#row1,#row2{
    font-family: Raleway;
    
}

#row1{/*Table Header*/
    background-color: #5CD895;
    width: 100%;
    border-bottom: #EDF5E1 2px solid;
    width: 100%;
    font-size: x-large;
    color: #EDF5E1;
}

.tableRowData{/*Table Content*/
    background-color: #05386B;
    width: 100%;
    color: #5CD895;
    cursor: pointer;
    transition: all 0.25s ease ;
}

.tableRowData:hover{/*Table Content*/
    background-image: linear-gradient(90deg, #5CD895, #5CD815);
    width: 100%;
    color: #05386B;
    transform: translateX(2.5%);
}

/*
    User Input    
*/
form{
    height: 100%;
    width: 100%;
}

.usrInput{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16%;
    background-color: #05386B;
}

/*
    User Input Cotainer
*/
#usrOutputContainer{
    height: 20%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    border-top: #EDF5E1 2px solid;
}

.usrOutput{
    height: 100%;
    width: 50%;
    color: #EDF5E1;
    text-align: center;
}

.imageRow input{
    background-color: #05386B;
    transition: 0.25s all ease;
    border: none;
    color: #EDF5E1;
    font-family: Raleway;
}

.imageRow input:hover{
    background-color: #5CD895;
    transform: translateX(2.5%);
    border: #EDF5E1 1px solid;
}

/*
    Submit Button 
*/

#submitContainer{
    height: 110%;
    width: 50%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #05386B;
    margin-bottom: 0%;
    transition: 0.25s all ease;
    border-left: #EDF5E1 1px solid;
}   

#submitContainer:hover{
    background-color: #5CD895;
}

/*
    Output Cost 
*/
#costCalcContainer{
    display: flex;
    flex-flow: row nowrap;
}

#costCalcContainer>div{
    height: 100%;
    width: 50%;
    text-align: left;
}

#costCalcContainer>div:nth-child(1){
    border-right: #EDF5E1 1px solid;
}

#costText>p{
    margin-top: 10%;
}

#costValue>p{
    margin-top: 10%;
}